.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .div1 {
    text-align: center;
    background: #efebeb;
    width: fit-content;
    position: relative;
    left: 22rem;
    top: 9rem;
    border-radius: 5px;
    border: 3px solid black;
    padding: 1rem;
  }