
.ulstyle {
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.btn1 {
    background-color:lightseagreen;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
}
.btn2 {
    background-color:orangered;
    padding: 7px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    columns: white;
}