<div class="container" style="background-color:palegoldenrod;height: auto;">
<div style="text-align: right;height: 3rem;position: relative;top: 1rem;color: white;">
    <button (click) = "removecart()" class="btn1">ClearCart</button>
    &nbsp;&nbsp;
<button class="btn1">{{itemCount}} items</button>
&nbsp;&nbsp;
<button class="btn2" (click) = "showCartItem()" [disabled] ="listNew.length == 0 ? true: false">Checkout</button>
&nbsp;&nbsp;
<button class="btn2" (click) = "logout()">logout</button>
</div> 
<p style="color: red;font-weight: 500;text-align: center;">{{err}}</p>
   <ul class="row" style="background-color: olive;">
    <li class="col-2 ulstyle" *ngFor = "let lists of list" (click) = "cart(lists)">
    {{lists}}
    </li>
</ul>
<div *ngIf = "showitem"> <p  *ngFor = "let items of cartItem">
    {{items}}
</p>
</div>
</div>