<div class="div1">
    <!-- <p style="color: red; font-weight: 500;">{{msg}}</p> -->
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>UserName</mat-label>
          <input matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
                 placeholder="username"> 
          <mat-error *ngIf="usernameFormControl.hasError('required') && usernameFormControl.touched">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>password</mat-label>
          <input matInput [formControl]="passFormControl" [errorStateMatcher]="matcher" type="password"
                 placeholder="username">
          <mat-error *ngIf="passFormControl.hasError('required') && passFormControl.touched">
            password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                 placeholder="Ex. pat@example.com">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" (click) = "signUp()">SignUp</button> 
        &nbsp;&nbsp;
        <button mat-raised-button color="primary" [routerLink] = "['']">Login</button>   
      </form>
    </div>
    
    
    
    